/* You can add global styles to this file, and also import other style files */

/* body{
    background: #FAFAFA;
} */

:root {
    --nsg-jumbotron-bg-color: var(--gray-100);
    [data-bs-theme="dark"] {
      --nsg-jumbotron-bg-color: var(--gray-700);
      
    }
  }