<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div >
      <div class="add-post" data-bs-toggle="modal" data-bs-target="#exampleModal"></div>
      <a href="#" (click)="logoff()" style="margin-left: 25px;">Sair</a>
    </div>
  </div>
    <!-- <a (click)="changeTheme('light')">Light</a> 
    <a (click)="changeTheme('dark')">Dark</a>  -->

    <label class="switch">
      <input type="checkbox">
      <span class="slider round" (click)="changeTheme(isDarkMode)"></span>
      <i class="pi " [ngClass]="{'pi-moon': isDarkMode, 'pi-sun': !isDarkMode}"></i>
    </label>
      
</nav>

<br /><br /><br />
<div class="container">
  <app-publication></app-publication>
  <app-add-publication></app-add-publication>  
</div>