<nav class="navbar fixed-top navbar-light "
    [ngClass]="{'bg-dark': isDarkMode, 'bg-light': !isDarkMode}"
>
  <div class="container">
    <div class="logo"></div>
    <div >
      <div class="add-post" data-bs-toggle="modal" data-bs-target="#exampleModal"></div>
      <a href="#" (click)="logoff()" style="margin-left: 25px;">Sair</a>
    </div>
  </div>
  <app-toggle-theme></app-toggle-theme>
</nav>

<br /><br /><br />
<div class="container">
  <app-publication></app-publication>
  <app-add-publication></app-add-publication>  
</div>